#about {
  background-color: darkgreen;
  width: 100%;
  padding: 89px 3rem 3rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.about-content {
  max-width: 1400px;
  padding: 3rem 0 2rem;
  margin: 0 auto;
  gap: 2rem;
  flex-direction: column;
  text-align: center;

  & img {
    max-width: 100%;
  }
}

.about-copy {
  padding: 2rem;
}
