#contact {
  width: 100%;
  min-height: 100vh;
  padding: 89px 2rem 3rem;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: rebeccapurple;
}

.contact-heading {
  text-align: center;
  max-width: 30rem;
  margin: 0 auto;
  padding: 3rem 0 2rem;
  & * {
    margin: 10px 0;
  }
}

.contact-form {
  max-width: 900px;
  margin: 0 auto;

  & fieldset {
    flex-direction: column;
    align-items: stretch;
    gap: 0.5rem;
    border: 0;
  }
  & input,
  & textarea {
    width: 100%;
    padding: 0.5rem 0;
    border: 0;
    background: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  & button {
    cursor: pointer;
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 30rem;
    align-self: center;
    color: #fff;
    background-color: rgb(33, 0, 124);
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 3px;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.1);
    }
  }
}
