footer {
  width: 100%;
  background-color: black;
  display: block;
  padding: 3rem;
}

.footer-content {
  max-width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    color: white;
    font-weight: bold;
    margin: 0 1rem;

    &:hover {
      color: var(--clr-primary_dk);
    }
  }

  img {
    border: 1px solid white;
    padding: 1rem;
    width: 100px;
  }
}
