.header {
  padding: 0.25rem 3rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: background-color 0.3s ease-in;

  &-content {
    justify-content: space-between;
    max-width: 1600px;
    margin: 0 auto;
    height: 52px;
  }

  &-left {
    height: 25px;

    & img {
      height: 100%;
    }
  }
}
.scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}

nav {
  width: 100%;
  display: none;
  transform: translateY(-100px);

  ul {
    justify-content: space-evenly;
    margin: 0;
    --space: 1.5rem;

    button {
      cursor: pointer;
      border: none;
      background-color: transparent;
      color: #fff;
      transition: all 0.35s ease;

      &:hover {
        transform: scale(1.1);
        font-weight: bold;
        color: var(--clr-secondary_lt);
      }
    }
  }

  @media (min-width: 768px) {
    display: block;
    transform: translateY(0%);
  }
}

nav.mobile {
  display: block;
  transform: translateY(100%);

  ul {
    flex-direction: column;
  }
}

.menu-icon {
  @media (min-width: 768px) {
    display: none;
  }
}
