.hero {
  width: 100%;
  height: 100vh;
  padding: 120px 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  position: relative;
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.6)
    ),
    url("https://res.cloudinary.com/crdcloud/image/upload/v1617077766/crd-personal/hero-bg_oifzjy.jpg");
  background-position: center;
  background-size: cover;
}

.hero-content {
  flex-direction: column;
  width: 100%;
  max-width: 1100px;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;

  &_left {
    flex: 1 1 60%;
    color: #fff;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  &_right {
    flex: 1 1 40%;
  }
}

.hero-buttons {
  flex-direction: column;
  justify-content: space-between;

  &_btn {
    cursor: pointer;
    margin: 1rem;
    padding: 0.5rem 1rem;
    min-width: 200px;
    color: #fff;
    background-color: rgb(33, 0, 124);
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 3px;
    transition: all 0.5s ease;

    &:hover {
      transform: scale(1.1);
      border-color: var(--clr-primary_lt);
      color: var(--clr-primary_lt);
    }
  }
}

.hero-headline {
  margin: 0;
  font-size: clamp(2rem, 40px, 3.5rem);
}

#triangles-btn {
  border: none;
  background-color: transparent;
}
